<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <h4>Reset Your Password</h4>
        <p style="max-width: 500px;">You forgot your password? No worries, enter an email and we will send you a link to reset your password.</p>
        <form action="{% url 'users:reset_password' %}" method="POST">
            {% csrf_token %}
            {{form}}
            <div>
                <button class="btn btn-full">Get Reset Link</button>
            </div>
        </form>
    </div>
</body>
</html>