<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Asset Management App
            {% endblock %}
        </title>
        
         <link rel="stylesheet" href="{% static 'css/main.css'%}">
    </head>
    <body>
        <nav class="nav-bar" style=" background-color:#191919; color:white;">
            <div class="container" style="display:flex;flex-direction:row; justify-content:space-between; align-items:center; width:900px;">
                <div class="logo">
                    <a href="{% url 'homepage' %}">
                        <h1 class="logo-text">AMS</h1>
                    </a>
                </div>
                <ul class="nav-links" style="display:flex; flex-direction:row; gap:1.5rem;color:white;">
                    <li style="color:white;"><a href="{% url 'homepage'%}"  style="color:white;">Home</a></li>
                    <li><a href="{% url 'posts:posts' %}" style="color:white;">Posts</a></li>
                    <li><a href="{% url 'about'%}" style="color:white;">About Us</a></li>
                    <li><a href="/about" style="color:white;">Blog</a></li>
                </ul>
                <div>
                    <a href="{% url 'users:login' %}" class="btn btn-full" style="cursor:pointer;background-color:blue;padding:1rem; color:white; outline:none; border-radius:0.25rem; border: none;">Login</a>
                </div>
                <form action="{% url 'users:logout' %}" method="POST">
                   {% csrf_token %}
                   <button class="btn btn-outline">Logout</button>
                </form>
            </div>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        <script src="{% static 'js/main.js' %}" differ></script
    </body>
</html>